.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  transition: transform 0.5s;
}

.section.active {
  transform: scale(1.2);
}
