@tailwind base;
@tailwind components;
@tailwind utilities;

/* .eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v27/SlGWmQSNjdsmc35JDF1K5GRweDY1ZzPJ.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
} */

:root {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 50px !important;
}
h2 {
  font-size: 40px !important;
}
h3 {
  font-size: 35px !important;
}

.btn-main-normal {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border: solid transparent 2px;
  border-radius: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: all 0.3s ease;
  background-color: #000;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: normal;
}

.btn-main-normal:hover {
  border-color: #34d399;
  /* color: #48ffbc; */
  background-color: transparent;
}
.btn-main-lg {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border: solid transparent 2px;
  border-radius: 0.5rem;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.3s ease;
  background-color: #000;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: normal;
}

.btn-main-lg:hover {
  border-color: #34d399;
  border-width: 2px;
  background-color: transparent;
}

.btn-main-normal.dark {
  box-shadow: 0 0 1rem rgba(46, 204, 113, 0.1);
}

.btn-main-normal.dark:hover {
  box-shadow: 0 0 1.5rem rgba(46, 204, 113, 0.3);
}

.btn-bg-green {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border: solid transparent 2px;
  border-radius: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: all 0.3s ease;
  background-color: #22c55e;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.btn-bg-green:hover {
  border-color: #22c55e;
  color: #fff;
  background-color: transparent;
}

.btn-bordered-green {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border: solid #22c55e 2px;
  border-radius: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: all 0.3s ease;
  background-color: #000;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: normal;
}

.btn-bordered-green:hover {
  border-color: #22c55e;
  /* color: #48ffbc; */
  background-color: #22c55e;
}

.btn-bordered-yellow {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border: solid #eab308 2px;
  border-radius: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: all 0.3s ease;
  background-color: #000;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: normal;
}

.btn-bordered-yellow:hover {
  border-color: #eab308;
  /* color: #48ffbc; */
  background-color: #eab308;
}

.btn-bordered-red {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border: solid #ef4444 2px;
  border-radius: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: all 0.3s ease;
  background-color: #000;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: normal;
}

.btn-bordered-red:hover {
  border-color: #ef4444;
  /* color: #48ffbc; */
  background-color: #ef4444;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11182744;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b83f6be;
}

.scrolling-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
